{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6 mt-5">
                {% if messages %}
                    {% for mess in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <b>{{ mess }}</b>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-primary">Login</button>
                    <a href="{% url 'signup' %}" class="card-link link-dark text-decoration-none">I don`t have an
                        account</a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}