{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Change {% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6 mt-5">
                <h1 class="text-center text-primary">Password change form</h1>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-secondary">Change</button>
                    <a href="/">Back to home</a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}