{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} SignUp {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">

            <div class="col"></div>
            <div class="col-6 mt-5">
                <center><h2 class="text-primary">Registration</h2></center>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-primary">SignUp</button>
                    <a href="{% url 'login' %}" class="card-link link-dark text-decoration-none">I have an account</a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}