{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="container">
        <div class=" w-100 mt-4">
            <h4 class="d-block">Products</h4>
            <div class="d-flex flex-wrap justify-content-between">
                {% for prod in products %}
                    <!-- Product Cart Start -->
                    <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 16.5rem;">
                        {% if prod.productimage_set.exists %}
                            <img height="200" class="card-img-top" src="{{ prod.productimage_set.first.image.url }}"
                                 alt="">
                        {% else %}
                            <img height="200" class="card-img-top" src="images/14pro2.jfif" alt="">
                        {% endif %}

                        <div class="card-body">
                            <h6 class="align-center card-title">{{ prod.title }}</h6>
                            <span class="center card-text">$<small>{{ prod.price }}</small></span>
                            <div class="buttons d-flex flex-wrap justify-content-between ">
                                <a href="{% url 'addremovesaved' prod.id %}">📥</a>
                                <a href="{% url 'product' prod.id %}" class="btn btn-outline-primary">Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- Product Cart End -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}