{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Update Profile {% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6 mt-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                    <a href="{% url 'profile' request.user %}">Back</a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}