{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Product Update{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6 mt-5">
                <h1>Update Product - {{ product.title }}</h1>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-primary">Update</button>
                    <hr>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{% url 'delete' product.id %}" class="btn btn-outline-danger">Delete</a>
                        <a href="{% url 'product' product.id %}" class="btn btn-secondary">Detail</a>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}